@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;700;800;900&display=swap");
.display-1 {
  font-family: var(--display1-font);
  font-size: calc(var(--display1-size, 5) * 1rem);
  line-height: 1;
}
.display-2 {
  font-family: "Inter Tight", sans-serif;
  font-size: calc(var(--display2-size, 2) * 1rem);
  line-height: 1.1;
  font-weight: 700;
}
.display-4 {
  font-family: var(--display4-font);
  font-size: calc(var(--display4-size, 1.4) * 1rem);
  line-height: 1.5;
  font-weight: 600;
}
.display-5 {
  font-family: var(--display5-font);
  font-size: calc(var(--display5-size, 2) * 1rem);
  line-height: 1.5;
  font-weight: 400;
}
.display-6 {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: calc(var(--display7-size, 1.8) * 1rem);
  line-height: 1.5;
}
.display-7 {
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;
  font-size: calc(var(--display7-size, 1.2) * 1rem);
  line-height: 1.5;
}

.display-1 > .mbr-iconfont {
  font-size: calc(var(--display1-size, 5) * 1.25rem);
}
.display-2 > .mbr-iconfont {
  font-size: calc(var(--display2-size, 4) * 1.25rem);
}
.display-4 > .mbr-iconfont {
  font-size: calc(var(--display4-size, 1.4) * 1.25rem);
}
.display-5 > .mbr-iconfont {
  font-size: calc(var(--display5-size, 2) * 1.25rem);
}
.display-7 > .mbr-iconfont {
  font-size: calc(var(--display7-size, 1.4) * 1.25rem);
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: calc(var(--display1-size, 5) * 0.8rem);
  }
}
@media (max-width: 768px) {
  .display-1 {
    --display1-size_min: calc(
      var(--display1-size, 5) - (var(--display1-size, 5) - 1) * 0.65
    );
    font-size: calc(var(--display1-size, 5) * 0.7rem);
    font-size: calc(
      var(--display1-size_min) * 1rem +
        (var(--display1-size, 5) - var(--display1-size_min)) *
        ((100vw - 20rem) / (48 - 20))
    );
    line-height: calc(
      1.1 *
        (
          var(--display1-size_min) * 1rem +
            (var(--display1-size, 5) - var(--display1-size_min)) *
            ((100vw - 20rem) / (48 - 20))
        )
    );
  }
  .display-2 {
    --display2-size_min: calc(
      var(--display2-size, 4) - (var(--display2-size, 4) - 1) * 0.65
    );
    font-size: calc(var(--display2-size, 4) * 0.8rem);
    font-size: calc(
      var(--display2-size_min) * 1rem +
        (var(--display2-size, 4) - var(--display2-size_min)) *
        ((100vw - 20rem) / (48 - 20))
    );
    line-height: calc(
      1.3 *
        (
          var(--display2-size_min) * 1rem +
            (var(--display2-size, 4) - var(--display2-size_min)) *
            ((100vw - 20rem) / (48 - 20))
        )
    );
  }
  .display-4 {
    --display4-size_min: calc(
      var(--display4-size, 1.4) - (var(--display4-size, 1.4) - 1) * 0.65
    );
    font-size: calc(var(--display4-size, 1.4) * 0.8rem);
    font-size: calc(
      var(--display4-size_min) * 1rem +
        (var(--display4-size, 1.4) - var(--display4-size_min)) *
        ((100vw - 20rem) / (48 - 20))
    );
    line-height: calc(
      1.4 *
        (
          var(--display4-size_min) * 1rem +
            (var(--display4-size, 1.4) - var(--display4-size_min)) *
            ((100vw - 20rem) / (48 - 20))
        )
    );
  }
  .display-5 {
    --display5-size_min: calc(
      var(--display5-size, 2) - (var(--display5-size, 2) - 1) * 0.65
    );
    font-size: calc(var(--display5-size, 2) * 0.8rem);
    font-size: calc(
      var(--display5-size_min) * 1rem +
        (var(--display5-size, 2) - var(--display5-size_min)) *
        ((100vw - 20rem) / (48 - 20))
    );
    line-height: calc(
      1.4 *
        (
          var(--display5-size_min) * 1rem +
            (var(--display5-size, 2) - var(--display5-size_min)) *
            ((100vw - 20rem) / (48 - 20))
        )
    );
  }
  .display-6 {
    --display5-size_min: calc(
      var(--display7-size, 2) - (var(--display7-size, 1.8) - 1) * 0.65
    );
    font-size: calc(var(--display5-size, 2) * 0.8rem);
    font-size: calc(
      var(--display5-size_min) * 1rem +
        (var(--display5-size, 2) - var(--display5-size_min)) *
        ((100vw - 20rem) / (48 - 20))
    );
    line-height: calc(
      1.4 *
        (
          var(--display5-size_min) * 1rem +
            (var(--display5-size, 2) - var(--display5-size_min)) *
            ((100vw - 20rem) / (48 - 20))
        )
    );
  }
  .display-7 {
    --display7-size_min: calc(
      var(--display7-size, 1.4) - (var(--display7-size, 1.4) - 1) * 0.65
    );
    font-size: calc(var(--display7-size, 1.4) * 0.8rem);
    font-size: calc(
      var(--display7-size_min) * 1rem +
        (var(--display7-size, 1.4) - var(--display7-size_min)) *
        ((100vw - 20rem) / (48 - 20))
    );
    line-height: calc(
      1.4 *
        (
          var(--display7-size_min) * 1rem +
            (var(--display7-size, 1.4) - var(--display7-size_min)) *
            ((100vw - 20rem) / (48 - 20))
        )
    );
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    --display1-size_min: calc(
      var(--display1-size, 5) - (var(--display1-size, 5) - 1) * 0.65
    );
    font-size: calc(var(--display1-size, 5) * 0.7rem);
    font-size: calc(
      var(--display1-size_min) * 1rem +
        (var(--display1-size, 5) - var(--display1-size_min)) *
        ((100vw - 62rem) / (87 - 62))
    );
    line-height: calc(
      1.1 *
        (
          var(--display1-size_min) * 1rem +
            (var(--display1-size, 5) - var(--display1-size_min)) *
            ((100vw - 62rem) / (87 - 62))
        )
    );
  }

  .display-2 {
    --display2-size_min: calc(
      var(--display2-size, 4) - (var(--display2-size, 4) - 1) * 0.65
    );
    font-size: calc(var(--display2-size, 4) * 0.8rem);
    font-size: calc(
      var(--display2-size_min) * 1rem +
        (var(--display2-size, 4) - var(--display2-size_min)) *
        ((100vw - 62rem) / (87 - 62))
    );
    line-height: calc(
      1.3 *
        (
          var(--display2-size_min) * 1rem +
            (var(--display2-size, 4) - var(--display2-size_min)) *
            ((100vw - 62rem) / (87 - 62))
        )
    );
  }

  .display-4 {
    --display4-size_min: calc(
      var(--display4-size, 1.4) - (var(--display4-size, 1.4) - 1) * 0.65
    );
    font-size: calc(var(--display4-size, 1.4) * 0.8rem);
    font-size: calc(
      var(--display4-size_min) * 1rem +
        (var(--display4-size, 1.4) - var(--display4-size_min)) *
        ((100vw - 62rem) / (87 - 62))
    );
    line-height: calc(
      1.4 *
        (
          var(--display4-size_min) * 1rem +
            (var(--display4-size, 1.4) - var(--display4-size_min)) *
            ((100vw - 62rem) / (87 - 62))
        )
    );
  }

  .display-5 {
    --display5-size_min: calc(
      var(--display5-size, 2) - (var(--display5-size, 2) - 1) * 0.65
    );
    font-size: calc(var(--display5-size, 2) * 0.8rem);
    font-size: calc(
      var(--display5-size_min) * 1rem +
        (var(--display5-size, 2) - var(--display5-size_min)) *
        ((100vw - 62rem) / (87 - 62))
    );
    line-height: calc(
      1.4 *
        (
          var(--display5-size_min) * 1rem +
            (var(--display5-size, 2) - var(--display5-size_min)) *
            ((100vw - 62rem) / (87 - 62))
        )
    );
  }

  .display-7 {
    --display7-size_min: calc(
      var(--display7-size, 1.4) - (var(--display7-size, 1.4) - 1) * 0.65
    );
    font-size: calc(var(--display7-size, 1.4) * 0.8rem);
    font-size: calc(
      var(--display7-size_min) * 1rem +
        (var(--display7-size, 1.4) - var(--display7-size_min)) *
        ((100vw - 62rem) / (87 - 62))
    );
    line-height: calc(
      1.4 *
        (
          var(--display7-size_min) * 1rem +
            (var(--display7-size, 1.4) - var(--display7-size_min)) *
            ((100vw - 62rem) / (87 - 62))
        )
    );
  }
}

/* 
  index.html css styles */

.cid-u2djpAW0w5 {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-u2djpAW0w5 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-u2djpAW0w5 .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-u2djpAW0w5 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-u2djpAW0w5 .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
.cid-u2djpAW0w5 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-u2djpAW0w5 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-u2djpAW0w5 .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
}
.cid-u2djpAW0w5 .navbar-nav .nav-item {
  padding: 0 !important;
  transition: 0.3s all !important;
}
.cid-u2djpAW0w5 .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: 0.3s all !important;
}
.cid-u2djpAW0w5 .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-u2djpAW0w5 .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-u2djpAW0w5 .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-u2djpAW0w5 .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: 0.3s all !important;
}
.cid-u2djpAW0w5 .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-u2djpAW0w5 .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-u2djpAW0w5 .nav-link {
  width: fit-content;
  position: relative;
}
.cid-u2djpAW0w5 .navbar-logo {
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-u2djpAW0w5 .navbar-logo {
    padding-left: 0;
  }
}
.cid-u2djpAW0w5 .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-u2djpAW0w5 .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-u2djpAW0w5 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: 0.3s all;
}
.cid-u2djpAW0w5 .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-u2djpAW0w5 .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-u2djpAW0w5 .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-u2djpAW0w5 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-u2djpAW0w5 .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: 0.3s all !important;
  min-width: auto;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8) !important;
}
.cid-u2djpAW0w5 .nav-item:focus,
.cid-u2djpAW0w5 .nav-link:focus {
  outline: none;
}
.cid-u2djpAW0w5 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-u2djpAW0w5 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-u2djpAW0w5 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-u2djpAW0w5 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-u2djpAW0w5 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-u2djpAW0w5 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-u2djpAW0w5 .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-u2djpAW0w5 .navbar.opened {
  transition: all 0.3s;
}
.cid-u2djpAW0w5 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-u2djpAW0w5 .navbar .navbar-logo img {
  min-width: 6rem;
  object-fit: cover;
}
.cid-u2djpAW0w5 .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-u2djpAW0w5 .navbar.collapsed {
  justify-content: center;
}
.cid-u2djpAW0w5 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-u2djpAW0w5 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-u2djpAW0w5 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-u2djpAW0w5 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-u2djpAW0w5 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-u2djpAW0w5
  .navbar.collapsed
  .dropdown-menu
  .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-u2djpAW0w5 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-u2djpAW0w5 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-u2djpAW0w5 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-u2djpAW0w5 .navbar {
    min-height: 72px;
  }
  .cid-u2djpAW0w5 .navbar .navbar-logo img {
    height: 2.5rem !important;
    min-width: 2.5rem !important;
  }
}
@media (max-width: 991px) {
  .cid-u2djpAW0w5 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-u2djpAW0w5 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-u2djpAW0w5 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-u2djpAW0w5 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-u2djpAW0w5
    .navbar
    .dropdown-menu
    .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-u2djpAW0w5 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-u2djpAW0w5 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-u2djpAW0w5 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-u2djpAW0w5 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-u2djpAW0w5 .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-u2djpAW0w5 .dropdown-item.active,
.cid-u2djpAW0w5 .dropdown-item:active {
  background-color: transparent;
}
.cid-u2djpAW0w5 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-u2djpAW0w5 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-u2djpAW0w5 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-u2djpAW0w5 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-u2djpAW0w5
  .navbar.navbar-expand-lg
  .dropdown
  .dropdown-menu
  .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-u2djpAW0w5 .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-u2djpAW0w5 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-u2djpAW0w5 .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-u2djpAW0w5 .navbar-buttons {
    text-align: left;
  }
}
.cid-u2djpAW0w5 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-u2djpAW0w5 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-u2djpAW0w5 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-u2djpAW0w5 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u2djpAW0w5 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u2djpAW0w5 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-u2djpAW0w5 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u2djpAW0w5 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-u2djpAW0w5 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-u2djpAW0w5 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u2djpAW0w5 .navbar-dropdown {
  padding: 0 1rem;
}
.cid-u2djpAW0w5 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-u2djpAW0w5 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-u2djpAW0w5 .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-u2djpAW0w5 .navbar {
    height: 70px;
  }
  .cid-u2djpAW0w5 .navbar.opened {
    height: auto;
  }
  .cid-u2djpAW0w5 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-u2djpAW0w5 .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-u2djpAW0w5 .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-u2djpAW0w5 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-u2djpAW0w5
  .navbar
  .dropdown
  > .dropdown-menu
  .dropdown
  .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: 0.3s all;
  transform: rotate(-90deg);
}
.cid-u2djpAW0w5
  .navbar
  .dropdown
  > .dropdown-menu
  .dropdown.open
  .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-u2djpAW0w5 .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-u2djpAW0w5 .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-u2djpAW0w5 .navbar-brand {
    margin-right: auto;
  }
  .cid-u2djpAW0w5 .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.8) !important;
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(8px);
  }
  .cid-u2djpAW0w5 .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-u2djpAW0w5 .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-u2djpAW0w5 .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-u2djpAW0w5 .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-u2djpAW0w5 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-u2djpAW0w5
    .navbar
    .dropdown
    > .dropdown-menu
    .dropdown
    .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(0deg);
  }
  .cid-u2djpAW0w5
    .navbar
    .dropdown
    > .dropdown-menu
    .dropdown.open
    .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-u2djpAW0w5 .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-u2djpAW0w5 .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-u2djpAW0w5 .navbar-collapse {
    padding: 1rem;
  }
}

.cid-u2djpAWuq8 {
  display: flex;
}
@media (min-width: 768px) {
  .cid-u2djpAWuq8 {
    align-items: flex-end;
  }
  .cid-u2djpAWuq8 .row {
    justify-content: center;
  }
  .cid-u2djpAWuq8 .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-u2djpAWuq8 .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-u2djpAWuq8 {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-u2djpAWuq8 .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-u2djpAWuq8 .content-wrap {
    width: 100%;
  }
}
.cid-u2djpAWuq8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2djpAWuq8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000000;
}
.cid-u2djpAWuq8 .mbr-section-title,
.cid-u2djpAWuq8 .mbr-section-subtitle {
  text-align: left;
  color: var(--dominant-color, #ffc091);
}
.cid-u2djpAWuq8 .mbr-text,
.cid-u2djpAWuq8 .mbr-section-btn {
  text-align: center;
}
.cid-u2djpAWuq8 .mbr-section-title {
  text-align: center;
}

.cid-u2djpAWs48 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;

  background-color: transparent;
}
.cid-u2djpAWs48 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2djpAWs48 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2djpAWs48 .card-wrapper {
  overflow: hidden;
  background: #ffffff;
}
.cid-u2djpAWs48 .text-wrapper {
  padding: 2rem 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-u2djpAWs48 .text-wrapper {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) and (min-width: 500) {
  .cid-u2djpAWs48 .text-wrapper {
    padding: 2.5rem;
    height: 400px;
    overflow: scroll;
  }
}
@media (max-width: 499px) {
  .cid-u2djpAWs48 .text-wrapper {
    height: 400px;
    overflow: scroll;
  }
  .cid-u2djpAWs48 .text-wrapper {
    padding: 2rem;
  }
}

.cid-u2djpAWs48 .row {
  align-items: center;
  margin-right: -1rem;
  margin-left: -1rem;
}
.cid-u2djpAWs48 .row {
  flex-direction: row-reverse;
}
.cid-u2djpAWs48 .image-wrapper {
  padding: 0 1rem;
}
.cid-u2djpAWs48 img,
.cid-u2djpAWs48 .image-wrapper {
  /* height: 600px; */
  
  object-fit: cover;
}
.cid-u2djpAWs48 img,.cid-u2djpAWs48 span{
  height: 100%;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-u2djpAWs48 img,
  .cid-u2djpAWs48 .image-wrapper {
    max-height: 350px;
  }
}
.cid-u2djpAWs48 .mbr-section-title {
  color: #000000;
}
.cid-u2djpAWs48 .mbr-text {
  color: #000000;
}

.cid-u2djpAWvSi {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u2djpAWvSi .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-u2djpAWvSi img,
.cid-u2djpAWvSi .item-img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-u2djpAWvSi .item:focus,
.cid-u2djpAWvSi span:focus {
  outline: none;
}
.cid-u2djpAWvSi .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u2djpAWvSi .item {
    margin-bottom: 1rem;
  }
}
.cid-u2djpAWvSi .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-u2djpAWvSi .mbr-section-title {
  color: #232323;
}
.cid-u2djpAWvSi .mbr-text,
.cid-u2djpAWvSi .mbr-section-btn {
  color: #232323;
}
.cid-u2djpAWvSi .item-title {
  color: #232323;
}
.cid-u2djpAWvSi .content-head {
  max-width: 800px;
}

.cid-u2djpAXD8J {
  overflow: hidden;
  /* background-image: url("../assets/images/aboutus/wareHouseGallery/photo-1565610222536-ef125c59da2e.jpeg"); */
}

.cid-u2djpAXl9S {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}

.cid-u2djpAXl9S .item-subtitle {
  line-height: 1.2;
  color: #000000;
  text-align: center;
}

.cid-u2djpAXl9S img,
.cid-u2djpAXl9S .item-img {
  width: 100px;
  height: 100px;
  /* width: 100%; */
  /* height: 300px; */
  object-fit: cover;
}

.cid-u2djpAXl9S .item:focus,
.cid-u2djpAXl9S span:focus {
  outline: none;
}

.cid-u2djpAXl9S .item {
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .cid-u2djpAXl9S .item {
    margin-bottom: 1rem;
  }
}

.cid-u2djpAXl9S .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.cid-u2djpAXl9S .mbr-section-title {
  color: #000000;
}

.cid-u2djpAXl9S .mbr-text,
.cid-u2djpAXl9S .mbr-section-btn {
  color: #000000;
  text-align: center;
}

.cid-u2djpAXl9S .item-title {
  color: #000000;
  text-align: center;
}

.cid-u2djpAXl9S .content-head {
  max-width: 800px;
}

.cid-u2djpAXSub {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: aliceblue;
}
.cid-u2djpAXSub .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2djpAXSub .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-u2djpAXSub .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-u2djpAXSub .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-u2djpAXSub .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-u2djpAXSub .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-u2djpAXSub .mbr-section-title {
  color: #000000;
}
.cid-u2djpAXSub .mbr-text,
.cid-u2djpAXSub .mbr-section-btn {
  color: #000000;
}

.cid-u2djpAX5oq {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--dominant-color, #260a30);
}

.cid-u2djpAX5oq input {
  padding: 1.2rem 1.5rem;
  border: none !important;
  height: 100%;
}

.cid-u2djpAX5oq input:hover {
  border: none !important;
}

.cid-u2djpAX5oq .btn {
  height: 100%;
  margin: auto;
}

@media (min-width: 992px) {
  .cid-u2djpAX5oq .text-wrapper {
    padding: 0 2rem;
  }
}

.cid-u2djpAX5oq .row {
  justify-content: center;
}

.cid-u2djpAX5oq .mbr-section-btn {
  display: flex;
  margin-bottom: 1.2rem;
  width: fit-content;
}

@media (min-width: 768px) {
  .cid-u2djpAX5oq .mbr-section-btn {
    margin-left: initial;
  }
}

.cid-u2djpAX5oq .mbr-section-btn .btn {
  width: auto;
}

@media (max-width: 991px) {
  .cid-u2djpAX5oq .image-wrapper {
    margin-bottom: 2rem;
  }

  .cid-u2djpAX5oq .content-wrapper {
    flex-direction: column-reverse;
  }
}

.cid-u2djpAX5oq .justify-content-center {
  align-items: center;
}

.cid-u2djpAX5oq .mbr-section-title {
  text-align: center;
  color: var(--dominant-text, #ffd7ef);
}

.cid-u2djpAXVPI {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-u2djpAXVPI .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2djpAXVPI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2djpAXVPI .card-wrapper {
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-u2djpAXVPI .card-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-u2djpAXVPI .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-u2djpAXVPI .card-wrapper {
    padding: 4rem;
  }
}
.cid-u2djpAXVPI .mbr-text,
.cid-u2djpAXVPI .mbr-section-btn {
  text-align: left;
}
.cid-u2djpAXVPI .img-wrapper img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50% !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-u2djpAXVPI .img-wrapper img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 768px) {
  .cid-u2djpAXVPI .img-wrapper img {
    width: 80px;
    height: 80px;
  }
}
.cid-u2djpAXVPI .img-wrapper {
  display: flex;
}
.cid-u2djpAXVPI .card-text {
  text-align: center;
  color: #000000;
}
.cid-u2djpAXVPI .card-title {
  text-align: center;
  color: #000000;
}

.cid-u2djpAYqTN {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: aliceblue;
}
.cid-u2djpAYqTN .item-subtitle {
  line-height: 1.2;
  color: #000000;
  text-align: center;
}
.cid-u2djpAYqTN img,
.cid-u2djpAYqTN .item-img {
  /* width: 100%;
    height: 100%; */
  /* height: 400px; */
  object-fit: cover;
}
.cid-u2djpAYqTN .item:focus,
.cid-u2djpAYqTN span:focus {
  outline: none;
}
.cid-u2djpAYqTN .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u2djpAYqTN .item {
    margin-bottom: 1rem;
  }
}
.cid-u2djpAYqTN .item-wrapper {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  width: 225px;
}
@media screen and (max-width: 500px) {
  .cid-u2djpAYqTN .item-wrapper {
    width: 200px;
  }
}
.cid-u2djpAYqTN .mbr-section-btn {
  margin-top: auto !important;
}
.cid-u2djpAYqTN .mbr-section-title {
  color: #000000;
}
.cid-u2djpAYqTN .mbr-text,
.cid-u2djpAYqTN .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-u2djpAYqTN .item-title {
  color: #000000;
}
.cid-u2djpAYqTN .content-head {
  max-width: 800px;
}

.cid-u2djpAYCJJ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u2djpAYCJJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2djpAYCJJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2djpAYCJJ .title .num {
  width: 100%;
  display: block;
}
.cid-u2djpAYCJJ .title .card-title {
  z-index: 1;
}
.cid-u2djpAYCJJ .num {
  color: var(--primary-color, #9fe870);
  text-align: center;
}
.cid-u2djpAYCJJ .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u2djpAYCJJ .item-mb {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-u2djpAYCJJ * {
    text-align: center !important;
  }
  .cid-u2djpAYCJJ .content-column {
    margin-bottom: 2rem;
  }
}
.cid-u2djpAYCJJ .content-head {
  max-width: 800px;
}
.cid-u2djpAYCJJ .card-text {
  text-align: center;
}
.cid-u2djpAYCJJ .card-title,
.cid-u2djpAYCJJ .card-img {
  text-align: center;
}

.cid-u2djpAY7MV {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-u2djpAY7MV .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2djpAY7MV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2djpAY7MV .mbr-text {
  color: #000000;
}
.cid-u2djpAY7MV .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-u2djpAY7MV .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u2djpAY7MV .item-mb {
    margin-bottom: 1rem;
  }
}
.cid-u2djpAY7MV .mbr-number {
  color: var(--primary-color, #9fe870);
  text-align: left;
}
.cid-u2djpAY7MV .mbr-section-title {
  color: #000000;
}
.cid-u2djpAY7MV .item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2.25rem 2.25rem 0;
  background: #ffffff;
}
.cid-u2djpAY7MV .item-content .item-footer {
  margin-top: auto;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u2djpAY7MV .item-content {
    padding: 0rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-u2djpAY7MV .item-content {
    padding: 0rem 1.5rem;
  }
}
.cid-u2djpAY7MV .side-features {
  display: -webkit-flex;
  /* -webkit-flex-wrap: wrap; */
  padding-left: 0px;
  padding-right: 0px;
}
.cid-u2djpAY7MV .side-features .item {
  padding-left: 16px;
  padding-right: 16px;
}
.cid-u2djpAY7MV .item-head {
  background: var(--primary-color, #9fe870);
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u2djpAY7MV .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-u2djpAY7MV .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-u2djpAY7MV .item-wrapper {
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
  background: #ffffff;
  padding: 0rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 767px) {
  .cid-u2djpAY7MV .item-wrapper {
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u2djpAY7MV .item-wrapper .item-footer {
    padding: 0 1.5rem 3rem;
  }
}
@media (min-width: 1201px) {
  .cid-u2djpAY7MV .item-wrapper .item-footer {
    padding: 0 2rem 3rem;
  }
}
.cid-u2djpAY7MV .mbr-section-btn {
  margin-top: auto !important;
  padding: 2rem 2rem 0;
}
@media (max-width: 991px) {
  .cid-u2djpAY7MV .mbr-section-btn {
    padding: 0rem 2.25rem 2rem;
  }
}
@media (max-width: 767px) {
  .cid-u2djpAY7MV .mbr-section-btn {
    padding: 0rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-u2djpAY7MV .item:focus,
.cid-u2djpAY7MV span:focus {
  outline: none;
}
.cid-u2djpAY7MV .mbr-text,
.cid-u2djpAY7MV .mbr-section-btn {
  text-align: left;
}
.cid-u2djpAY7MV .item-title {
  text-align: left;
  color: var(--primary-text, #9fe870);
}
.cid-u2djpAY7MV .item-subtitle {
  text-align: left;
  color: var(--primary-text, #9fe870);
}
.cid-u2djpAY7MV .content-head {
  max-width: 800px;
}
.cid-u2djpAY7MV .counter-container ul {
  margin: 0;
  padding-left: 2.25rem;
  list-style: none;
}
.cid-u2djpAY7MV .counter-container ul li {
  position: relative;
  list-style: none;
  margin-bottom: 2rem;
}
.cid-u2djpAY7MV .counter-container ul li:before {
  position: absolute;
  left: -1.5em;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color, #9fe870);
  background-color: var(--primary-color, #9fe870);
  width: 0.5em;
  height: 0.5em;
  top: 0.4em;
  border-radius: 50%;
}
.cid-u2djpAY7MV .counter-container ul li {
  margin-bottom: 1rem;
}
.cid-u2djpAY7MV .mbr-text UL {
  text-align: left;
}
.cid-u2djpAY7MV .item-btn {
  width: -webkit-fill-available;
}
.cid-u2djpAY7MV .main-button {
  margin-bottom: 2rem;
  padding: 0rem 0rem 2rem;
}
@media (max-width: 767px) {
  .cid-u2djpAY7MV .main-button {
    margin-bottom: 2rem;
    padding: 0rem 0rem 0.5rem;
  }
}
@media (max-width: 991px) {
  .cid-u2djpAY7MV .main-button {
    padding: 0rem 0rem 0.5rem;
  }
}
.cid-u2djpAY7MV .mbr-section-subtitle,
.cid-u2djpAY7MV .main-button .btn {
  text-align: left;
}
.cid-u2djpAY7MV .mbr-section-subtitle,
.cid-u2djpAY7MV .main-button {
  color: #000000;
  text-align: left;
}

.cid-u2djpAZyU7 {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: aliceblue;
}
.cid-u2djpAZyU7 .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: "Moririse2" !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
}
.cid-u2djpAZyU7 .panel-group {
  border: none;
}
.cid-u2djpAZyU7 .card-header {
  padding: 1rem 0.5rem 0.6rem 1rem;
}
@media (max-width: 767px) {
  .cid-u2djpAZyU7 .card-header {
    padding: 0.5rem 0rem;
  }
}
.cid-u2djpAZyU7 .panel-body {
  padding: 0 0.5rem;
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-u2djpAZyU7 .panel-body {
    padding: 0rem;
    padding-bottom: 1rem;
  }
}
.cid-u2djpAZyU7 .img-col {
  padding: 0;
}
.cid-u2djpAZyU7 .img-item {
  height: 100%;
}
.cid-u2djpAZyU7 img {
  height: 100%;
  object-fit: cover;
}
.cid-u2djpAZyU7 .collapsed span {
  transform: rotate(0deg);
}
.cid-u2djpAZyU7 .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-u2djpAZyU7 p {
  margin-bottom: 0.3rem;
}
.cid-u2djpAZyU7 .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}
.cid-u2djpAZyU7 .card {
  background: #ffffff;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
}
@media (max-width: 767px) {
  .cid-u2djpAZyU7 .card {
    padding: 1rem 2rem;
  }
}
.cid-u2djpAZyU7 .panel-text {
  color: #000000;
}
.cid-u2djpAZyU7 .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-u2djpAZyU7 .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-u2djpAZyU7 .panel-title-edit,
.cid-u2djpAZyU7 .mbr-iconfont {
  color: #000000;
}

.cid-u2djpAZjFn {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-u2djpAZjFn .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2djpAZjFn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2djpAZjFn .card-wrapper {
  background: var(--dominant-color, #393193);
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-u2djpAZjFn .card-wrapper {
    padding: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-u2djpAZjFn .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-u2djpAZjFn .card-wrapper {
    padding: 4rem;
  }
}
.cid-u2djpAZjFn .mbr-text,
.cid-u2djpAZjFn .mbr-section-btn {
  color: #ffd7ef;
}
.cid-u2djpAZjFn .card-title,
.cid-u2djpAZjFn .card-box {
  text-align: center;
  color: var(--dominant-text, #ffd7ef);
}

.cid-u2djpAZL5u {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-u2djpAZL5u .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2djpAZL5u .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2djpAZL5u .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u2djpAZL5u .item {
    margin-bottom: 1rem;
  }
}
.cid-u2djpAZL5u .item-wrapper {
  height: 100%;
}
.cid-u2djpAZL5u .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-u2djpAZL5u .content-head {
  max-width: 800px;
}

.cid-u2djpB0IST {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u2djpB0IST .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-u2djpB0IST .social-row .soc-item {
  margin: 8px;
}
.cid-u2djpB0IST .social-row .soc-item a:hover .mbr-iconfont,
.cid-u2djpB0IST .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #f7f7f7;
}
.cid-u2djpB0IST .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #f7f7f7;
  color: var(--primary-color, #393193);
  transition: all 0.3s ease-in-out;
}
.cid-u2djpB0IST .row-links {
  width: 100%;
  justify-content: center;
}
.cid-u2djpB0IST .mbr-section-title {
  color: #ffffff;
}
.cid-u2djpB0IST .mbr-section-title,
.cid-u2djpB0IST .social-list {
  color: #000000;
}

.cid-u2djpB0gGd {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-u2djpB0gGd .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-u2djpB0gGd img,
.cid-u2djpB0gGd .item-img {
  width: 100%;
}
.cid-u2djpB0gGd .item:focus,
.cid-u2djpB0gGd span:focus {
  outline: none;
}
.cid-u2djpB0gGd .item {
  margin-bottom: 2rem;
}
@media (max-width: 575px) {
  .cid-u2djpB0gGd .item {
    margin-bottom: 1rem;
  }
}
.cid-u2djpB0gGd .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-u2djpB0gGd .mbr-section-title {
  color: #000000;
}
.cid-u2djpB0gGd .mbr-text,
.cid-u2djpB0gGd .mbr-section-btn {
  color: #000000;
}
.cid-u2djpB0gGd .item-title {
  color: #000000;
  text-align: center;
}
.cid-u2djpB0gGd .content-head {
  max-width: 800px;
}
.cid-u2djpB0gGd img {
  filter: grayscale(1);
}

.cid-u2djpB0SGO {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-u2djpB0SGO .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-u2djpB0SGO form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-u2djpB0SGO form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-u2djpB0SGO form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-u2djpB0SGO .content-head {
  max-width: 800px;
}

.cid-u2djpB0tKs {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-u2djpB0tKs .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2djpB0tKs .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2djpB0tKs .row {
  justify-content: center;
}
.cid-u2djpB0tKs .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u2djpB0tKs .item {
    margin-bottom: 1rem;
  }
}
.cid-u2djpB0tKs .item .item-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #ffffff;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u2djpB0tKs .item .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-u2djpB0tKs .item .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
.cid-u2djpB0tKs .content-head {
  max-width: 800px;
}

.cid-u2djpB0mXn {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-u2djpB0mXn .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-u2djpB0mXn .social-row .soc-item {
  margin: 8px;
}
.cid-u2djpB0mXn .social-row .soc-item a:hover .mbr-iconfont,
.cid-u2djpB0mXn .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #ffffff;
}
.cid-u2djpB0mXn .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #edefeb;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.cid-u2djpB0mXn .row-links {
  width: 100%;
  justify-content: center;
}
.cid-u2djpB0mXn .header-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-u2djpB0mXn .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-u2djpB0mXn .header-menu li p {
  margin: 0;
}
.cid-u2djpB0mXn .copyright {
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
.cid-u2djpB0mXn .mbr-section-title {
  color: #ffffff;
}
